.premises, .conclusion-area {
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: auto;
  grid-gap: 2rem 0.5rem;
  background-color: #e1e1e6;
  border: 1px solid #bcbcbc;
  color: #322222;
  border-radius: 7px;
  padding: 2rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

.premises .control, .conclusion-area .control {
  grid-column-start: 1;
  grid-column-end: 2;
  align-self: center;
  width: 3rem;
  border: none;
  color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.premises .control:hover, .conclusion-area .control:hover {
  cursor: pointer;
}

.premises .control:active, .conclusion-area .control:active {
  border: none;
}

.premises .premise, .conclusion-area .conclusion {
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: center;
}

.conclusion-area .conclusion.editing {
  grid-column-start: 1;
  grid-column-end: 3;
}

.premise:first-child {
  padding-top: 0;
}

.premise:last-child {
  padding-bottom: 0;
}

.suppose, .then {
  margin: 0;
}

.edit, .save {
  color: #fff;
  background-color: #4056f4;
}

.cancel {
  color: #fff;
  background-color: #63372c;
}

.control-panel .delete {
  color: #fff;
  background-color: #ff4242;
}

.control-panel .control {
  margin-right: 1rem;
}

.new {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAFZSURBVEhL7dVPKwZRFMfxYYHy5wWQN2BDLFlhhZ09xUoRr8Gb8Cf2isKendhYYSdKkbD3J8L3V3Pr9HRm5t4eNvKrz+aZe+7pmblzJvvPb6cb89jBMS5wiBVMoBl1pRObeMdXiVvMoBHJGcIDvI2L7KEN0RnEK7zNqhyhCZXpwiO8Td5wlbvLf/OsozIb8IrlDCG6td4a+cQACqPT9QGvWGIbyS4KswCvKEhp9IzCg7ENu1jP5NTYQkgf7LVL2FoZhpsT2IU3iM04bK1Mw8057MJ6G2mauDmAXXgPnZ6gByG6//baImytTMLNKmoXWymHQXrhRgPSKwhSGpXe9hZoQHqFktJoGaWZhVco1xjNLeW/eTSMO1CaBuzD2yCGJssYoqITpSnsbVRGTeaQFH0116AB6W1a6wnR/8RLP/RBe4HXQKdLD74dP5JWjGAKeuP1Mha+J389WfYNM50JgnpUiA0AAAAASUVORK5CYII=') 50% 50% no-repeat;
}
.premises .delete {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACMAAAAjCAYAAAAe2bNZAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAFCSURBVFhH7dexK0VhGMfxk0UZlZVsFotBBhuL2Z2E3cTmHzCoa7HYZVAM6rIZ2TCgZDVQhIESC77P9T71pue9nXPPeXXV+6vPcJ7e+76/zqnTPVnB9GELd/gKeMMpphEtXTiBVcDyiQlEyRj0oCfsY+eXXZxB1+0hSuahh8zJoEVuIeuumlclsg09NJZHjCCYccitlmdtbVC1c6zBzAysH8V0ATM1PP+xY/yvrOAwokHkzgGsZ1yVYeROKhOKVaaBSefSze692bqbiSU3C70uSpfZgOYIMrtpXv1kAbpWXqCSfujMl8qkMpJURpLK+FIZSSoTSioTSseXeYB80ItXN/vwZlJM1167mXyK6MxXqIx8I1ubVGUIuVOHtUkV3tGD3BnAC6zNylpF4UxB/uNaG7ZrE91oK72YxXJJixhFi2TZN1JTZTI8VgrgAAAAAElFTkSuQmCC') 50% 50% no-repeat;
}

.argument-area .footer {
  user-select: none;
}

.argument-area p {
  margin: 0;
}

.delete-notice {
  padding-bottom: 2rem;
}
