/* Global site styles */
html, input, html button {
  font: 22px/1.5 'Open sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1 {
  font: 28px/1.5 'Crimson Text', serif;
}

body {
  padding: 0;
  margin: 0;
}

main {
  height: 93vh;
  margin-top: 20vh;
}

/* navbar/header styles */
header {
  width: 100%;
  background-color: #60daff;
}

.header-menu {
  display: flex;
}

.nav-link {
  text-decoration: none;
  display: flex;
  font-size: 29px;
  color: black;
  padding-left: 0.7em;
  padding-right: 0.7em;
  align-items: center;
}

.nav-link:first-child {
  margin-right: auto;
}

.main-content {
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
}
