/* Global site styles */
*, *::before, *::after {
  box-sizing: border-box;
}

button {
  border-radius: 0.25rem;
  cursor: pointer;
}

html, input, html button {
  font: 22px/1.5 'Open sans', sans-serif;
}

h1 {
  font: 28px/1.5 'Crimson Text', serif;
}

body {
  background-color: #fbfbfb;
  color: #322222;
  padding: 0;
  margin: 0.5rem;
}

a {
  color: #132cec;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  margin-top: 2rem;
}

/* navbar/header styles */
nav {
  width: 100%;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  align-items: center;
}

.nav-link a {
  padding: 0 0.75rem;
}

.nav-link.about {
  background-color: #4056f4;
  border-radius: 0.25rem;
}

.nav-link.about a {
  color: #fff;
}

.nav-link a:hover {
  text-decoration: none;
}

.nav-link.home {
  margin-right: auto;
}

.nav-link.home a {
  color: #000;
}

.main-content {
  max-width: 33rem;
  margin-left: auto;
  margin-right: auto;
}
