.argument {
  border: 1px solid black;
  border-radius: 10px;
  display: inline-block;
  list-style-type: none;
  padding: 10px 0;
  margin-bottom: 20px;
}
.argument.default {
  background-color:bisque;
}
.premise-element {
  list-style-type: disc;
}
.premise {
  padding: 5px 20px;
}
